
body{
background: linear-gradient(-140deg, #ff3333, white, #3385ff);
font-size:2vw;}
img{
	width: 20%;
height: auto;
font-size:2vw;
}

h1{font-size:3vw;}
h2{font-size:1.5vw;}
h3{font-size:1vw;}
h4{font-size:1.5vw;}


#titlu{
color:blue;}

h1, h2, h3, h4, h5{
	margin-left:40px;
margin-right:40px;}

.sigla{
	height:40%;
width:auto;
font-size:1.5vw;}

viz1{
margin: 200px 30px;
}


.unu{
	position:absolute; /* img are poz relativa fata de prima pozitionare a elem stramos */
margin-left:900px;
	width:100%;
height:auto;
z-index:-1; /* imag e pozitionata in spatele textului */
}
	
#fata{
margin-left:900px;
color:green;
}
	
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;  /* meniul dropdown e afisat chiar sub buton */
    background-color: #ffffcc;
    min-width: 160px;
  
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: gray;}

.dropdown:hover .dropdown-content {display: block;} /*afis meniul dropdown cand trece mouse-ul */

.dropdown:hover .dropbtn {background-color: green;}

ul {
    display: grid;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.button1 {
    background-color: gray;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: right;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
	
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-left: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.button {
    background-color: gray;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: right;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
	
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.patrat{ display:inline-block;  width:150px; height:150px;  
             background-color:violet;}
.peste{ position:absolute; }

#drept{ display:inline-block;  width:40px; height:100%; 
             background-color:pink;
             position:absolute;  left:30px;}

img2{
width:2%;
height:auto;
font-size:2vw;}	
	

div.mare {
    position: relative;
    width: 300px;
    height: 150px;
    border: 3px solid #73AD21;
} 

div.mic {
    position: absolute;
    top: 105px;
    right: -1;
    width: 100px;
    height: 40px;
    border: 3px solid #73AD21;
	
}

div.p3{
	color: #990099;
    width: 900px;
    border: 15px dotted #99ff66;
    padding: 20px;
    margin: 10px;
}
div.p4{
	color:   #666633;
    width: 900px;
    border: 15px dotted yellow;
    padding: 20px;
    margin: 10px;
	margin-left:330px;
}

.edit1{
margin-left:1100px;
width:200px;
font-size:2vw;
}


.edit{
width:200px;
font-size:2vw;
}

#eeu{
  color:#ff6666;
}

#font2{
color:green;}


#font3{
color:#009999;}



	
			 